<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview | Actors</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12  mt-3 mb-3">
            <h2 class="text-center">Question 3</h2>
            <h4 class="text-center">Welcome to Actors</h4>
        </div>
        <div class="col-md-12  mt-3 mb-3">
            <div class="alert alert-danger mb-3 text-center" role="alert" th:if="${error != null}" th:text="${error}"></div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Birth year</th>
                    <th scope="col">Height</th>
                    <th scope="col">Mass</th>
                    <th scope="col">Hair color</th>
                    <th scope="col">Skin color</th>
                    <th scope="col">Eye color</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:if="${people != null && people.getActors() != null && people.getActors().size() > 0}">
                <tr th:each="actor : ${people.getActors()}">
                    <td><span class="glyphicon glyphicon-heart" aria-hidden="true" th:if="${utils.checkFavorite(likedActors, actor) == true}"></span></td>
                    <td th:text="${actor.getName()}"></td>
                    <td th:text="${actor.getGender()}"></td>
                    <td th:text="${actor.getBirthYear()}"></td>
                    <td th:text="${actor.getHeight()}"></td>
                    <td th:text="${actor.getMass()}"></td>
                    <td th:text="${actor.getHairColor()}"></td>
                    <td th:text="${actor.getSkinColor()}"></td>
                    <td th:text="${actor.getEyeColor()}"></td>
                    <td class="text-center">
                        <a th:href="@{/actors/{id}(id=${actor.getUrl().replaceAll('https://swapi.co/api/people/', '').replaceAll('/', '')})}" class="btn btn-primary btn-sm">View</a>
                        <a th:href="@{/actors/like/{id}(id=${actor.getUrl().replaceAll('https://swapi.co/api/people/', '').replaceAll('/', '')}, page=${page})}" class="btn btn-danger btn-sm ml-2"
                           th:if="${utils.checkFavorite(likedActors, actor) == true}">Unlike</a>
                        <a th:href="@{/actors/like/{id}(id=${actor.getUrl().replaceAll('https://swapi.co/api/people/', '').replaceAll('/', '')}, page=${page})}" class="btn btn-success btn-sm ml-2"
                           th:if="${utils.checkFavorite(likedActors, actor) == false}">Like</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>