<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview | Actors' details</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12  mt-3 mb-3">
            <h2 class="text-center">Question 3</h2>
            <h4 class="text-center">Actors' Attributes</h4>
        </div>
        <div class="col-md-12  mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Birth year</th>
                    <th scope="col">Height</th>
                    <th scope="col">Mass</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${actor.getName()}"></td>
                    <td th:text="${actor.getGender()}"></td>
                    <td th:text="${actor.getBirthYear()}"></td>
                    <td th:text="${actor.getHeight()}"></td>
                    <td th:text="${actor.getMass()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12  mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Hair color</th>
                    <th scope="col">Skin color</th>
                    <th scope="col">Eye color</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Last edit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${actor.getHairColor()}"></td>
                    <td th:text="${actor.getSkinColor()}"></td>
                    <td th:text="${actor.getEyeColor()}"></td>
                    <td th:text="${actor.getCreated()}"></td>
                    <td th:text="${actor.getEdited()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12  mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Home world</th>
                    <th scope="col">Url</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a th:href="${actor.getHomeWorld()}" th:text="${actor.getHomeWorld()}" target="_blank"></a></td>
                    <td><a th:href="${actor.getUrl()}" th:text="${actor.getUrl()}" target="_blank"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12  mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Films</th>
                    <th scope="col">Species</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <ul class="list-unstyled mb-0 pb-0">
                            <li th:each="film : ${actor.getFilms()}">
                                <a th:href="${film}" th:text="${film}" target="_blank"></a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled mb-0 pb-0">
                            <li th:each="specie : ${actor.getSpecies()}">
                                <a th:href="${specie}" th:text="${specie}" target="_blank"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Vehicles</th>
                    <th scope="col">Star ships</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <ul class="list-unstyled mb-0 pb-0">
                            <li th:each="vehicle : ${actor.getVehicles()}">
                                <a th:href="${vehicle}" th:text="${vehicle}" target="_blank"></a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled mb-0 pb-0">
                            <li th:each="startShip : ${actor.getStarShips()}">
                                <a th:href="${startShip}" th:text="${startShip}" target="_blank"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12  mt-3 mb-3 text-center">
            <a th:href="@{/actors}" class="btn btn-primary btn-sm">Back to actors</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>